//

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  h2 {
    font-size: 40px;
  }

  h2,
  button {
    color: #302d3a;
  }
}

.btn__block {
  display: flex;
  margin-top: 40px;
  column-gap: 40px;

  > div {
    display: flex;
    column-gap: 10px;
  }

  img {
    width: 40px;
  }

  button {
    font-size: 22px;
    transition: 0.15s;

    &:hover {
      transform: rotate(-5deg);
    }

    &:active {
      transform: translateY(3px);
    }
  }
}
